#if ($conferenceList.size() > 0)
    <table class="conferenceList">
        <thead>
        <tr>
            <th>Conference name</th>
            <th>Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            #foreach($conference in $conferenceList)
            <tr data-id="$conference.getId()">
                <td>$conference.getName()</td>
                <td><div title="Starts">$conference.getStartDate($dateFormat)</div>
<div title="Ends">$conference.getEndDate($dateFormat)</div></td>
				<td><a href="/conference/signup?id=$conference.getId()">Enroll</a></td>
                <td><a href="/conference/update?id=$conference.getId()" class="edit">Edit</a></td>
            </tr>
            #end
        </tbody>
    </table>
#end