<!DOCTYPE html>
<html>
    <head>
        <title>Conference list</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" type="text/css">
        #parse("blocks/head.vm")
    </head>
    <body>
	    <nav id="top-bar">
				<a href="/conference/list">Conferences</a> | <a href="/conference/new">Create a conference (if not logged in then redirects to register in the system)</a>
				<div id="login"><a href="/conference/login">Sign in</a> | <a href="/conference/register">Sign on</a> OR else _Profile_ | _Logout_</div>
		</nav>
		<div id="top-bar-2"></div>
		<div id="wrapper">
		
<form method="post" action="/conference/new">
    <div class="formGroup">
        <label for="username">username*</label>
        <input type="email" name="username" id="username" placeholder="Your email" required autofocus />
    </div>
    <div class="formGroup">
        <label for="password">password*</label>
        <input type="password" name="password" placeholder="*" id="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Minimum 6 characters, must contain a digit, a lower-case letter and an upper-case letter." />
    </div>
    <div class="formGroup">
        <label for="password2">Repeat password*</label>
        <input type="password" name="password2"  placeholder="*" id="password2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Minimum 6 characters, must contain a digit, a lower-case letter and an upper-case letter." />
    </div>
    <div class="formGroup">
        <label for="name">name*</label>
        <input type="text" name="name" placeholder="First name" id="name" required />
    </div>
    <div class="formGroup">
        <label for="surname">surname*</label>
        <input type="text" name="surname" placeholder="Last name" id="surname" required />
    </div>
    <div class="formGroup">
        <label for="town">town*</label>
        <input type="text" name="town" placeholder="New York" id="town" required />
    </div>
    <div class="formGroup">
        <label for="country">country*</label>
        <input type="text" name="country"  placeholder="USA" id="country" required />
    </div>
    <div class="formGroup">
    	<input type="submit" value="Register">
    </div>
</form>
		</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="/resources/js/list.js"></script>
    </body>
</html>